{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>

  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
  <!-- Custom fonts for this template-->
   <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css" />
  <!-- Page level plugin CSS-->
   <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <!-- Custom styles for this template-->

   <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}" type="text/css" />

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Django Servidores</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  
  
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pedidos">
          <a class="nav-link" href="{% url 'servidores_list' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Servidores</span>
          </a>
        </li>
    
  
     >
        </li>

        
      
    </div>
  </nav>
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      {% block content %}
      <h1>Esto es el dashboard</h1>
      {% endblock %}
      
     </div>
</div> 

   <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
  

      <!-- Example DataTables Card-->
          
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
 
    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
 
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 


    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-charts.min.js' %}"></script>
  </div>
</body>